@helper LiList(string[] array)
{
    <ul>
        @foreach (string elem in array)
        {
            <li>
                <spam class="badge badge-info">
                    @elem
                </spam>
            </li>
        }
    </ul>
}
